@font-face
{
	font-family: 'FuturaPT-Book';
	src: url('../fonts/FuturaPT-Book.woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'FreightDispProBook-Italic';
	src: url('../fonts/FreightDispProBook-Italic.woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face
{
	font-family: 'FreightDispProSemibold-Regular';
	src: url('../fonts/FreightDispProSemibold-Regular.woff2');
	font-weight: 400;
	font-style: normal;
}

html
{
	height: 100%;
}

body
{
	height: 100%;
	background: url(../img/background.png) center / cover no-repeat fixed;
	margin: 0;
	padding: 0;
}

#overlay
{
	visibility: hidden;
	opacity: 0.9;
	background: black;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
}

.container
{
	visibility: hidden;
	width: 100vw;
	height: 100vh;
	position: relative;
	top: 200px;
}

#upper_rectangle
{  	
	border: 10px solid rgb(244, 244, 244);
	position: absolute;
	top: -75px;
	width: 164px;
	height: 512px;
	z-index: 1;
} 

#lower_white_square
{  
	border: 10px solid white;
	position: relative;
	bottom: 56.5px;
	width: 164px;
	height: 113px;
	z-index: 1;
} 

#popover
{ 
	top: -350px;
	background-color: rgba(255, 255, 255, 1);
	z-index: auto;
} 

#new_website_text
{
	position: relative;
	z-index: 1;
}

#upper_section
{
	background-color: white;
}

#lower_section
{
	background-color: rgb(159, 23, 61);
	clear: right;
}

#close_button 
{ 
	position: relative;
	float: right;
	top: 5px;
	right: 15px;
	font-size: 35px;
	line-height: 35px;
	color: #9f173d;
	z-index: 2;
} 

#cordial-1 
{ 
	position: relative;
	padding-top: 6rem;
	padding-bottom: 1rem;
	font-family: FuturaPT-Book;
	font-size: 21px;
} 

#cordial-2 
{ 
	position: relative;
	padding-bottom: 1rem;
	font-family: FreightDispProBook-Italic;
	font-size: 24px;
} 

.cordial-3
{ 
	position: relative;
	font-family: FreightDispProSemibold-Regular;
	font-size: 50px;
	line-height: 50px;
} 

@media (min-width: 768px)
{
	.cordial-3
	{
		font-size: 70px;
		line-height: 60px;
	}
}

.firebrick
{
	color:rgb(159, 32, 61);
}

#lorem 
{ 
	position: relative;
	padding-top: 7rem;
	padding-bottom: 1rem;
	font-family: sans-serif;
	z-index: 1;
}

#company_message hr
{
	position :relative;
	width: 164px;
	height: 1px;
	background-color: rgb(196, 0, 69);
	z-index: 1;
}

#sneak_title
{ 
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: FuturaPT-Book;
	font-size: 21px;
	z-index: 1;
} 

#sneak_list
{ 
	position: relative;
	padding-top: 2rem;
	z-index: 1;
} 

#sneak_list li
{
	list-style-image: url(../img/list_bullet.png);
	padding-left: 10px;
	font-family: FuturaPT-Book;
	font-size: 21px;
}

#signup_text
{
	position: relative;
	z-index: 1;
}

#signup-1
{
	position: relative;
	padding-top: 5rem;
	font-family: FreightDispProSemibold-Regular;
	font-size: 34px;
	line-height: 34px;
	color: white;
} 

#signup-2
{ 
	position: relative;
	padding-bottom: 2rem;
	font-family: FuturaPT-Book;
	font-size: 23px;
	line-height: 23px;
	color: white;
} 

#signup_form
{
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 1;
}

/* Apply mobile styles first */
#form_name,
#form_email,
#form_submit
{
	height: 38px;
} 

#form_submit
{
	background-color: black;
	letter-spacing: 2px;
	font-family: Georgia; 
	font-size: 15px;
	color: white;
	border: none;
}

#form_name::placeholder,
#form_email::placeholder
{
	font-family: Trebuchet MS, Roboto, sans-serif;
	font-size: 21px;
	font-weight: 500;
	color: black;
}

/* Overwrite above if screen is wide enough */
@media (min-width: 992px)
{
	#form_email,
	#form_submit
	{
		margin-left: 15px;
	}

	#form_name,
	#form_email,
	#form_submit
	{
		height: 58px;
	}

	#form_submit
	{
		background-color: black;
		letter-spacing: 3px;
		font-family: Georgia; 
		font-size: 20px;
		color: white;
		border: none;
	}
}

#CASL_section
{
	position: relative;
	padding-top: 2rem;
	padding-bottom: 10rem;
	z-index: 1;
}

#CASL_wrap
{
	display: block;
	position: relative;
	padding-left: 35px;
}

#CASL_checkbox_placeholder
{	
	position: absolute;
	cursor: pointer;
	content: "";
	height: 20px;
	width: 20px;
	top: 0;
	left: 0;
}

#CASL_label
{
	display: inline-block;
	align-self: start;
	color: rgb(254, 190, 213);
	font-family: FuturaPT-Book;
	font-size: 17px;
	line-height: 17px;
}

#CASL_checkbox
{
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: rgb(159, 23, 61);
	border: 1px solid white;
}

#CASL_wrap input:checked ~ #CASL_checkbox
{
	background-color: rgb(159, 23, 61);
}

#CASL_checkbox::after
{
	content: "";
	position: absolute;
	display: none;
}

#CASL_wrap input:checked ~ #CASL_checkbox::after 
{
	display: block;
}

#CASL_wrap #CASL_checkbox::after
{
	left: 5px;
	bottom: 3px;
	width: 8px;
	height: 16px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#chisel > picture > img
{ 
	visibility: hidden;
	position: relative;
	z-index: 0;
} 

#shaving > picture > img
{ 
	position: relative;
	bottom: 500px; /* Change script.js if removed */
	left: 44px;
	z-index: 1;
} 

@media (min-width: 768px)
{
	#chisel > picture > img 
	{
		position: relative;
	}

	#shaving > picture > img 
	{
		position: relative;
		left: 66px;
	}
}

@media (min-width: 1200px)
{
	#chisel > picture > img 
	{
		position: relative;
	}

	#shaving > picture > img 
	{
		position: relative;
		left: 88px;
	}
}

#fill_space
{
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
}