 body {
  	margin: 0;
  	padding: 0;
 }
 
 #background 
{ 
	background: url('img/Curves1.png');
	min-height: 100vh;
} 

 #Rectangle1 
{ 
	background-color: white;
	margin-top: 15vh;
	margin-bottom: 15vh;
	min-height: 100vh;
	min-width: 65vw;
} 

 #Rectangle1copy2 
{ 
	width: 1324px;
	height: 1452px;
} 

 #Rectangle2 
{ 
	width: 131px;
	height: 109px;
} 

 #Rectangle3 
{  
	width: 164px;
	height: 514px;
} 

 #NewCOMPANYWebsite 
{ 
	width: 330px;
	height: 165px;
} 

 #YouareCordiallyInvit 
{ 
	width: 307px;
	height: 51px;
} 

 #ofthe 
{ 
	width: 47px;
	height: 22px;
} 

 #Loremipsumdolorsitam 
{ 
	width: 684px;
	height: 53px;
} 

 #Adestodionoster 
{ 
	width: 236px;
	height: 16px;
} 

 #Exvisametgraeciaccum 
{ 
	width: 461px;
	height: 143px;
} 

 #Rectangle4 
{ 
	width: 9px;
	height: 9px;
} 

 #Rectangle4copy 
{ 
	width: 9px;
	height: 9px;
} 

 #Rectangle4copy2 
{ 
	width: 9px;
	height: 9px;
} 

 #Rectangle4copy3 
{ 
	width: 9px;
	height: 9px;
} 

 #Rectangle4copy4 
{ 
	width: 9px;
	height: 9px;
} 

 #Layer2 
{ 
	width: 160px;
	height: 2px;
} 

 #Closebutton 
{ 
	width: 15px;
	height: 15px;
} 

 #Rectangle1copy 
{ 
	width: 1300px;
	height: 454px;
} 

 #GetYourFootintheDoor 
{ 
	width: 477px;
	height: 22px;
} 

 #Knowthemomentourneww 
{ 
	width: 407px;
	height: 23px;
} 

 #Rectangle5 
{ 
	width: 273px;
	height: 60px;
} 

 #Name 
{ 
	width: 51px;
	height: 16px;
} 

 #Rectangle5_0 
{ 
	width: 273px;
	height: 60px;
} 

 #Email 
{ 
	width: 43px;
	height: 17px;
} 

 #Rectangle5_1 
{ 
	width: 141px;
	height: 60px;
} 

 #submit 
{ 
	width: 79px;
	height: 15px;
} 

 #Loremipsumdolorsitam_0 
{ 
	width: 460px;
	height: 47px;
} 

 #Rectangle6 
{ 
	width: 18px;
	height: 17px;
} 

 #Rectangle3copy 
{ 
	width: 164px;
	height: 113px;
} 

 #Layer3
{ 
	width: 569px;
	height: 495px;
} 

 #Layer4 
{ 
	width: 177px;
	height: 129px;
} 
